/*********************************************************
*TABLE OF CONTENTS
*
* 1) BODY AND CONTAINER
* 2) TEXT
* 3) BACKGROUND
* 4) NAV BAR
* 5) FULLSCREEN-HERO
* 6) CONTACT
*********************************************************/


/*
*
*
*
*
*/


/*********************************************************
* 1) BODY
*********************************************************/

body {
  background-color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}


/*********************************************************
* 2) TEXT STYLES
*********************************************************/

.headerText {
  font-family: 'Josefin Slab', serif;
  text-align: center;
}

.bold {
  font-weight: 700;
}

.normal {
  font-weight: 400;
}

.dark {
  color: black;
}

h1 {
  font-size: 3em;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}


/*********************************************************
* 3) BACKGROUND
*********************************************************/

#mainBackground {
  top: 0;
  left: 0;
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100vh;
  z-index: -1000;
}


/*********************************************************
* 4) NAV BAR
*********************************************************/

header {
  width: 100%;
  margin-top: 0;
  margin-left: 0;
}

.navbar-collapse {
  display: inline-flex;
  justify-content: flex-end;
}

.menu-logo {
  height: 32px;
  width: 304px;
}

@media only screen and (min-width: 401px) and (max-width: 992px) {
  .navbar-brand h2{
    font-size: 0.875em;
  }
}

@media only screen and (max-width: 400px) {
  .navbar-brand h2{
    font-size: 0.750em;
  }
}



/*********************************************************
* 4) FULLSCREEN-HERO
*********************************************************/
.fullscreen-hero {
 width: 100%;
 height: auto;
 display: flex;
 justify-content: center;
}

.fotorama {
  -webkit-box-shadow: 2px 3px 12px #222;
-moz-box-shadow: 2px 3px 12px #222;
box-shadow: 2px 3px 12px #222;
}

/*********************************************************
* 5) FOOTER
*********************************************************/
.footer {
  text-align: center;
  width: 100%;
}

.footer h6 {
  color: #999999;
}

hr {
  width: 80%;
}

.social-menu i{
  padding: 0 1em;
}

/*********************************************************
* 6) CONTACT MODAL
*********************************************************/
header {
padding: 0 20px;
}
