body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

#wrapper {
  min-width: auto;
}

#fullscreen-landing {
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;
  min-height: 350px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;

}

#fullscreen-contact {
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;
  min-height: 350px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
}
