body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background-color: white;
}

#header {
height: 5vh;

}

#fullscreen-landing {
  height: 90vh;
  position: relative;
  text-align: center;
  width: 100%;
  min-height: 350px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
}

#fullscreen-contact {
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;
  min-height: 350px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
}

#fullscreen-testimonials {
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;
  min-height: 350px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
}
